html {
    height: 100vh;
	overflow:hidden;
}

body {
    height: 100vh;
}

a {
	color: #00BFFF;
}

tr, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.widecol {
	min-width:100px;
}

