html {
    height: 100vh;
	overflow:hidden;
}

body {
    height: 100vh;
}

a {
	color: #00BFFF;
}

tr, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.widecol {
	min-width:100px;
}

.title {
	font-size: large;
}

.stepbox {
	background-color: rgba(85, 106, 255, 0.3);
}

.notebox {
	background-color: rgba(238, 208, 0, 0.3);
}

.warningbox, .invalid {
	background-color: rgba(255, 0, 0, 0.3);
}
