html {
    height: 100vh;
	overflow:hidden;
}

body {
    height: 100vh;
}

a {
	color: #00BFFF;
}

tr, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.widecol {
	min-width:100px;
}

#exercise-title {
	font-size: large;
}

.stepbox {
	background-color: rgba(85, 106, 255, 0.3);
}

.notebox {
	background-color: rgba(238, 208, 0, 0.3);
}

#controlbox {
	display: flex;
}

#stageslider {
	flex: 1;
}

#displaybox {
	max-width: 600px;
	display: flex;
	flex-flow: column;
}

#displaybox > * {
	margin: 10px;
}

.pframe {
	width: 50%;
}

.pleft {
	float: left;
}

.pright {
	float: right;
}

.warningbox, .invalid {
	background-color: rgba(255, 0, 0, 0.3);
}

.updated {
	background-color: rgba(0, 255, 0, 0.3);
}

.assertion {
	background-color: rgba(238, 208, 0, 0.3);
}

.container {
	width: 100%;
}

button.link {
	background:none;
	border:none;
	color:blue;
}
